@{
    ViewBag.Title = "The Cleveland Browns";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>This site is dedicated to my favorite football team, the Cleveland Browns. This franchise began in 1946 when Arthur B. McBride decided to buy the club team and make it
    pro. There have been plenty of rocky years, but the team came back into the game in 1999. This page will keep you up to date with all of this season.</p>
