@{
    ViewBag.Title = "Alexander Scott's Contact Info";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    45 Franklin Avenue<br />
    Athens, OH 45701<br />
    <abbr title="Phone">P:</abbr>
    419-346-8041
</address>

<address>
    <strong>Contact Me:</strong>  <a href="mailto:as637214@ohio.edu">as637214@ohio.edu</a>
</address>