@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>MIS 4200 WebPage</h1>
    <p>The CLEVELAND BROWNS</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>The Schedule</h2>
        <p>
            This link will take you to all of the games that are going to happen in the 2019 season.  
        </p>
        <p><a class="btn btn-default" href="https://www.clevelandbrowns.com/schedule/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>The Football Team</h2>
        <p>This link will take you directly to the Cleveland Browns WebPage, reference the players on the team, reference the coaches on the team, and the differnt coordination of each player and coach.</p>
        <p><a class="btn btn-default" href="https://www.clevelandbrowns.com/">Learn more &raquo;</a></p>
        <br/>
        <a class="btn btn-default"@Html.ActionLink("Players", "Index", "footballPlayers")</a>
        <br />
        <a class="btn btn-default" @Html.ActionLink("Coaches", "Index", "coaches")</a>
        <br />
        <a class="btn btn-default" @Html.ActionLink("Coordination of Players", "Index", "coordinationTypes")</a>

    </div>
    <div class="col-md-4">
        <h2>Sick Pics</h2>
        <p>This link will take you to all of the digital media for the Browns this year.</p>
        <p><a class="btn btn-default" href="https://www.clevelandbrowns.com/photos/">Learn more &raquo;</a></p>
    </div>

</div>